@charset "UTF-8";
@font-face {
	font-family: "Passion One";
	src: url("../font/PassionOne-bold.ttf") format("truetype");
}
@font-face {
	font-family: "Sriracha";
	src: url("../font/Sriracha-Regular.ttf") format("truetype");
}

:root {
	--font1: Verdana, Geneva, Tahoma, sans-serif;
	--font2: 'Passion One', cursive;
	--font3: 'Sriracha', cursive;
}

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	min-height: 100vh;
	background-color: darkgray;
	font-family: var(--font1);
}

header {
	background-color: black;
	color: #fff;
	text-align: center;
}

header > h1 {
	padding-top: 50px;
	/* text-transform: uppercase; 
	TODAS AS LETRAS MAIÚSCULAS */
	font-variant: small-caps;
	font-family: var(--font2);
	font-size: 10vw;
}

header > p {
	padding-bottom: 50px;
}

header > p > a {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

header > p > a:hover {
	text-decoration: underline;
}

section {
	padding-top: 10vh;
	padding-bottom: 10vh;
	line-height: 2em;
	padding-left: 30px;
	font-family: var(--font3);
	font-size: 3.5vw;
}

.normal {
	background-color: #fff;
	color: #000;
}

.imagem {
	background-color: #000;
	color: #fff;
}

.imagem > p {
	display: inline-block;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.253);
}

footer {
	background-color: #000;
	text-align: center;
	color: #fff;
	padding: 5px;
}